.App {
  text-align: center;
  padding: 20px;
}

.App-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.App-logout {
  float: right;
  width: 100px;
  border-radius: 3px;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

/*.App-link {
  color: #61dafb;
}*/
